{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'calendar:event_create' %}">New Event <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    <table class="table">
         <thead>
             <tr>
                 <th>id</th>
                 <th>Name</th>
                 <th>Date</th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
            {% for item in events %}
                 <tr>
                     <th>{{ item.id }}</th>
                     <td><a href="{% url 'calendar:event_update' item.id %}">{{ item.name }}</a></td>
                     <td>{{ item.date }}</td>
                     <td><a href="{% url 'calendar:event_delete' item.id %}">Delete</a></td>
                 </tr>
            {% endfor %}
         </tbody>
    </table>
{% endblock %}
