{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">Change Password</div>
        <div class="panel-body">

            <form style="" class="" action="{% url 'tracker:change_password' user_id %}" method="post">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}

                    {% endfor %}

                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}