{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">Change Password</div>
        <div class="panel-body">

            <form style="" class="form-inline text-center" action="{% url 'tracker:change_password' user_id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}<br>{{ field }}<br><br>

                {% endfor %}
            <br>
                <input class="btn btn-default" type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}