{% extends 'base.html' %}

{% block content %}
    <h1>{{ item.title }}</h1>
    <a href="{% url 'tracker:update_issue' item.id %}">Edit</a>
    <hr>
    <p>{{ item.type }} {{ item.date_raised }} {{ item.date_due }} {{ item.get_visible }} {{ item.get_status }} {{ item.assigned_to.username }}</p>
    <hr>
    <p>{{ item.description }}</p>
    <hr>
    <p>{{ item.actions_taken }}</p>

    {% for task in tasks %}
        <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
    {% endfor %}
{% endblock %}