{% extends 'base.html' %}

{% block content %}
    <h1>{{ item.title }}</h1>
    <a href="{% url 'tracker:update_item' 'issue' item.id %}">Edit</a>
    {% if user.is_staff %}<a href="{% url 'tracker:delete_item' 'issue' item.id %}">Delete</a>{% endif %}
    <hr>
    <p>{{ item.type }} {{ item.date_raised }} {{ item.date_due }} {{ item.visible }} {{ item.status }} {{ item.assigned_to.username }}</p>
    <hr>
    <p>{{ item.description }}</p>
    <hr>
    <p>{{ item.actions_taken }}</p>

    {% for task in tasks %}
        <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
    {% endfor %}
{% endblock %}