{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
{#    <form action="{% if type == 'create' %}{% url 'tracker:create_user' %}{% else %}{% url 'tracker:update_user' user_id %}{% endif %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit" value="save">#}
{#    </form>#}



    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">Update User</div>
        <div class="panel-body">

            <form style="" class="form-inline text-center" action="{% if type == 'create' %}{% url 'tracker:create_user' %}{% else %}{% url 'tracker:update_user' user_id %}{% endif %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'password' %}
                        {{ field.errors }}
                        {{ field.label_tag }}<br>{{ field }}<br>
                        {{ field.help_text }}
                    {% endif %}


                {% endfor %}
            <br>
                <input class="btn btn-default" type="submit" value="Save">
            </form>
        </div>
    </div>
    {% if type == 'update' %}
        <a href="{% url 'tracker:change_password' user_id %}">Change password</a>
    {% endif %}
{% endblock %}