{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
{#    <form action="{% if type == 'create' %}{% url 'tracker:create_user' %}{% else %}{% url 'tracker:update_user' user_id %}{% endif %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit" value="save">#}
{#    </form>#}




    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">Update User</div>
        <div class="panel-body">

            <form style="" action="{% if type == 'create' %}{% url 'tracker:create_user' %}{% else %}{% url 'tracker:update_user' user_id %}{% endif %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'password' %}

                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                        {% if field.name != 'is_staff' %}
                            <p class="help-block">{{ field.help_text | striptags | safe }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}



            <br>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
    {% if type == 'update' %}
        <a href="{% url 'tracker:change_password' user_id %}">Change password</a>
    {% endif %}
{% endblock %}