{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="panel panel-default">
    <div class="panel-heading text-center"><strong>LOGIN</strong></div>
        <div class="panel-body">
{#            <span class="col-xs-5 col-sm-5">#}
                <form class="form-inline text-center" action="{% url 'tracker:login' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                        <p class="help-block">{{ field.help_text }}</p>
                    {% endfor %}
                    <hr>
                    <input class="btn btn-default" type="submit" value="Login">
                </form>
{#            </span>#}
        </div>
    </div>

{% endblock %}