{% extends 'base.html' %}
{% load startswith %}
{% block content %}
    <h1>{{ item.title }}</h1>
    <h4>Type: {{ item.type }}</h4>
    <h5>Critical Questions: {% for issue in issues %}<a href="{{ issue.get_absolute_url }}">{{ issue.title }}{% if not forloop.last %}, {% endif %}</a>{% endfor %}</h5>
    <h5>Raised by {{ item.raised_by.username }}, Assigned to {{ item.assigned_to.username }}, Due date: {{ item.date_due }} {% if item.status|is_close_status %}, Date closed: {{ item.date_closed }} {% endif %}</h5>
    <h6>Location: {% if item.location %}{{ item.location }}{% else %}---{% endif %}</h6>
    <h5><span class="label label-default">{{ item.visible }}</span> <span class="label label-info"> {{ item.status }}</span></h5>

    <br>
    <hr>
    <h4>Context</h4>
    <p>{{ item.description }}</p>
    <hr>
    <h4>Comments</h4>
    <p>{{ item.actions_taken }}</p>
    <hr>
    <h4>Purpose</h4>
    <p>{{ item.purpose }}</p>
    <hr>
    <h4>Output</h4>
    <p>{{ item.output }}</p>
    <hr>
    <h4>Resources</h4>
    {{ item.resources }}
    <hr>
    <h4>How addressed in current plan?</h4>
    <p>{{ item.addressed }}</p>
    <hr>

    <a class="btn btn-default" href="{% url 'tracker:update_item' 'task' item.id %}">Edit</a>
    {% if user.is_staff %}<a class="btn btn-danger" href="{% url 'tracker:delete_item' 'task' item.id %}">Delete</a>{% endif %}
    <h1></h1>
{% endblock %}