{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/transition.js' %}"></script>
    <script src="{% static 'js/collapse.js' %}"></script>
    <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/datepick.js' %}"></script>
    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">Create Event</div>
        <div class="panel-body">
            <form method="post" action="{% url "calendar:event_create" %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.name == 'date' %}
                            {{ field.label_tag }}
                            <div class='input-group date' id='datetimepicker1'>
                                {{ field }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        {% else %}
                            {{ field.label_tag }} {{ field }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Create">
            </form>
        </div>
    </div>
{% endblock %}

