{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <script src="{% static "js/vue.js" %}"></script>
    <script src="{% static "js/axios.min.js" %}"></script>
{#    <hr>#}
{#    {% for item in items %}#}
{#        <h3><a href="{% url 'tracker:item' item.type item.id %}">{{ item.title }}</a> {{ item.date_raised }} {{ item.type }}</h3>#}
{#        <hr>#}
{#    {% endfor %}#}

    {% verbatim %}
        <div id="app">
            <div class="panel panel-default">

                <div class="panel-body">
                    <p>
                        <a href="javascript:void(0)" class="btn btn-primary" role="button" v-show="controls.filter.self" @click="controls.filter.self = !controls.filter.self">All items</a>
                        <a href="javascript:void(0)" class="btn btn-primary" role="button" v-show="!controls.filter.self" @click="controls.filter.self = !controls.filter.self">My items</a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Issue')">Issue <span v-if="controls.filter.issue" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Task')">Task <span v-if="controls.filter.task"class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Idea')">Idea <span v-if="controls.filter.idea" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                       <span class="btn-group" role="group">
                            <button type="button" @click="controls.filter.status='Open'" class="btn btn-default">Open <span v-if="controls.filter.status === 'Open'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" @click="controls.filter.status='Closed'" class="btn btn-default">Closed <span v-if="controls.filter.status === 'Closed'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" @click="controls.filter.status='All'" class="btn btn-default">All <span v-if="controls.filter.status === 'All'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </span>
                    </p>
                </div>
                <div class="panel-footer">Filters</div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><a href="javascript:void(0)" @click="sortBy('title')">Title</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('date_raised')">Date Raised</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('date_due')">Date Due</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('type')">Type</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('status')">Status</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('raised_user')">Raised by</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('assigned_user')">Assigned to</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" v-if="!item.hide && (controls.filter.self || item.raised_by === user) && filterStatus(item.status)">
                        <td><a :href="item.url">{{ item.title }}</a></td>
                        <td>{{ item.date_raised }}</td>
                        <td>{{ item.date_due }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.raised_user }}</td>
                        <td>{{ item.assigned_user }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endverbatim %}

    <script>

    var app = new Vue({
        el: '#app',
        data: {
            items: "None",
            user: null,
            controls:{
                sorts: {
                    title: true,
                    date1: true,
                    date2: true,
                    type: true,
                    status: true,
                    user1: true,
                    user2: true,
                },
                filter: {
                    self: false,
                    issue: true,
                    idea:true,
                    task: true,
                    status: 'Open',
                }
            }
        },
        methods: {
            onlyIssue: function () {
                this.items = this.items.filter(function(p) {
                    return p['type'] === 'Issue';
                })
            },

            sortBy: function (param) {
                var how;
                if (param === 'title') {
                    how = this.controls.sorts.title;
                    this.controls.sorts.title = !how;
                } else if (param === 'date_raised') {
                    how = this.controls.sorts.date1;
                    this.controls.sorts.date1 = !how;
                } else if (param === 'date_due') {
                    how = this.controls.sorts.date2;
                    this.controls.sorts.date2 = !how;
                } else if (param === 'type') {
                    how = this.controls.sorts.type;
                    this.controls.sorts.type = !how;
                }  else if (param === 'status') {
                    how = this.controls.sorts.status;
                    this.controls.sorts.status = !how;
                } else if (param === 'raised_user') {
                    how = this.controls.sorts.user1;
                    this.controls.sorts.user1 = !how;
                } else if (param === 'assigned_user') {
                    how = this.controls.sorts.user2;
                    this.controls.sorts.user2 = !how;
                } else {
                    return false;
                }
                console.log(param + ':', how);
                how = how ? (p1, p2) => { return (p1 < p2) ? -1 : (p1 > p2) ? 1 : 0 } : (p1, p2) => { return (p1 > p2) ? -1 : (p1 < p2) ? 1 : 0 };

                this.items.sort(function (p1, p2) {
                    return how(p1[param].toLowerCase(), p2[param].toLowerCase())
                });
            },

            filterStatus: function (status) {
                /* if (status != 'All') {
                    this.controls.filter.issue = true;
                    this.controls.filter.task = true;
                    this.controls.filter.idea = true;
                }

                this.controls.filter.status = status;
                for (var i = 0; i < this.items.length; i++)
                    if(this.items[i]['status'].startsWith(status))
                        this.items[i].hide = false;
                    else if(status === 'All')
                        this.items[i].hide = false;
                    else
                        this.items[i].hide = true;
                return false;*/
                if(this.controls.filter.status === 'All') {
                    return true;
                } else if(status.startsWith(this.controls.filter.status)) {
                    return true
                }
                return false;

            },

            filterBy: function (field, param) {
                if(param === 'Issue')
                    this.controls.filter.issue = !this.controls.filter.issue;
                else if(param === 'Task')
                    this.controls.filter.task = !this.controls.filter.task;
                else if(param === 'Idea')
                    this.controls.filter.idea = !this.controls.filter.idea;


                this.filterStatus('All');
                for (var i = 0; i < this.items.length; i++)
                    if(this.items[i][field] === param)
                        this.items[i].hide = !this.items[i].hide;
            }
        },
        created: function () {
            var data;
            axios.get("/items")
                .then(function (res) {
                    console.log("Res: ", res.data['results']);
                    app.$data.items = res.data['results'].map(function (p) {
                        p.hide = false;
                        return p;
                    });

                    app.$data.user = res.data['user'];
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
    })
</script>
{% endblock %}

