
.my-panel-form ul {
    list-style: none;
    color: #6d4bd9;
}

.errorlist {
    list-style: none;
    color: #d9534f;
}

.space {
    width: 10px;
}

.bold-text td{
    font-weight: bold !important;
}

.fa-question-circle {
    color: #5cb85c;
}

.fa-info-circle {
    color: #eea236;
}

.filter-panel {
    margin-top: 2%;
}


